<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a style="color: white; margin-left: 45%;">View product details</a>
        <button routerLink="/" class="btn btn-warning">Back</button>
    </div>
</nav>

<div class="container-fluid">
    <table class="table mt-4 table-scripted table-bordered">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Category</th>
                <th>Product Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of products">
                <td> <img src="{{items.producturl}}" src="{{items.producturl}}" style="width: 100px; height: auto;"></td>
                <td>{{items.productId}}</td>
                <td>{{items.productname}}</td>
                <td>{{items.productprice}}</td>
                <td>{{items.productcategory}}</td>
                <td>{{items.productdescription}}</td>
                <td><i class="fa fa-edit"></i> &nbsp; <i class="fa fa-trash"></i></td>
            </tr>
        </tbody>
    </table>
</div>